/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import 'theme/fonts.scss';

#logo {
    font-family: 'High Tower Text';
    font-style: italic;
    font-size: 40px;
    padding:0px;
    text-align:center;
    color: #707070;
    text-shadow: 0px 5px 6px #A7A7A7;
}

.fullHeight {
    height: 100%;
}

* {
    font-family: 'ebrima';
}

h1 {
    text-align: center;
    font-size: 28px;
}

ion-toolbar {
    padding-bottom: 5px;
}

.bold {
    font-weight: bold;
}

.height100 {
    height: 100%;
}

ion-spinner {
    transform: scale(3);
}


/* In Angular, the CSS of a specific page is scoped only to elements of that page. 
Even though the Popover can be presented from within a page, the ion-popover element is appended outside of the current page. 
This means that any custom styles need to go in a global stylesheet file. */
.change-cycle-popup {
    margin-left: -45px;
    margin-right:auto;
  }