<div id="appNav">
    <a href="prayer.html">
        <div id="prayerButton" class="navButton">
            <div id="prayerButtonTxt" class="btntxt">Prayer</div>
        </div>
    </a>
    <a href="journal.html">
        <div id="journalButton" class="navButton">
            <div id="journalButtonTxt" class="btntxt">Journal</div>
        </div>
    </a>
    <a href="home.html">
        <div id="homeButton" class="navButton">
            <div id="homeButtonTxt" class="btntxt">Home</div>
        </div>
    </a>
    <a href="devos.html">
        <div id="devosButton" class="navButton">
            <div id="devosButtonTxt" class="btntxt">Devos</div>
        </div>
    </a>
    <a href="social.html">
        <div id="socialButton" class="navButton">
            <div id="socialButtonTxt" class="btntxt">Social</div>
        </div>
    </a>
</div>