<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="contentCycleBtn" (click)="goToContentCycle()">
        <ion-icon name="arrow-back"></ion-icon>
        Back
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="logo">VitaPrayer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #sectionContent>
  
  <ion-grid *ngIf="showSpinner" class="height100">
    <ion-row class="align-items-center height100">
      <ion-col class="ion-align-self-center ion-text-center" size="12">
        <ion-spinner name="dots" color="tertiary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="!showSpinner && section != null">
    <ion-card>
      <ion-card-header class="ion-no-padding ion-padding-top">
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <ion-button class="navArrow" fill="clear" (click)="goToPreviousSection()">
                <ion-icon name="chevron-back-outline" color="dark"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="8" class="ion-align-self-center">
              <div class="ion-text-center">
                <ion-card-subtitle class="sectionCard">{{plan.Title}}</ion-card-subtitle>
              </div>
            </ion-col>
            <ion-col size="2">
              <ion-button class="navArrow" fill="clear" (click)="goToNextSection()">
                <ion-icon name="chevron-forward-outline" color="dark"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <h1 class="sectionTitle">{{section.Title}}</h1>
        <ion-text class="sectionCard">Main Idea: </ion-text>
        <br />
        <ion-text class="sectionCard ion-text-center">{{section.Main_Idea}}</ion-text>
        <br /><br />
        <ion-text class="sectionCard">Passage: </ion-text>
        <br />
        <ion-text class="sectionCard">{{section.Passage_Paraphrased}} - {{section.Passage_Reference}}</ion-text>
        <br /><br />
        <a href="{{section.Song_Link}}">{{section.Song_Link}}</a>
      </ion-card-content>
    </ion-card>

    <ion-card id="journalsCard">
      <ion-card-header>
        <ion-card-title>Journals</ion-card-title>
      </ion-card-header>

      <ion-card-content class="ion-text-center">
        <ion-list>
          <ion-item lines="full" detail *ngFor="let journal of filteredJournals" (click)="goToJournal(journal)">
            <ion-text style="width: 15%;" color="medium" slot="start">{{journal.ShortFormattedDate}}</ion-text>
            <ion-label>{{journal.Title}}</ion-label>
          </ion-item>
        </ion-list>
        <ion-button (click)="openCreateJournalModal()">Add Journal</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Prayer Requests</ion-card-title>
      </ion-card-header>

      <ion-card-content class="ion-text-center">
        <ion-list>
          <ion-item lines="full" detail *ngFor="let prayer of filteredPrayers" (click)="goToPrayer(prayer)">
            <ion-text style="width: 15%;" color="medium" slot="start">{{prayer.ShortFormattedDate}}</ion-text>
            <ion-label>{{prayer.Title}}</ion-label>
          </ion-item>
        </ion-list>
        <ion-button (click)="presentPrayerPopover($event)">Add Prayer</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>