.contentcycle {
    color: var(--ion-color-medium);
    font-style: italic;
}

.darkitalic {
    color: var(--ion-color-dark);
    font-style: italic;
    font-size: 16px;
}

.prayerrequest {
    padding: 5px 10px;
    height: 20px;
}