<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="!sectionId">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="sectionId">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title id="logo" class="ios">VitaPrayer</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-grid *ngIf="showSpinner" class="height100">
    <ion-row class="align-items-center height100">
      <ion-col class="ion-align-self-center ion-text-center" size="12">
        <ion-spinner name="dots" color="tertiary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form [formGroup]="addRequestForm" (ngSubmit)="save()" *ngIf="!showSpinner" >

    <!--Prayer Title-->
    <ion-item id="title" class="bold" lines="none">
      <ion-input type="text" color="dark" placeholder="Prayer Request Title" formControlName="title"
        autocapitalize=words>
      </ion-input>
    </ion-item>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-text color="danger" *ngIf="addRequestForm.controls.title.hasError('required') && showErrors">
        <p class="ion-no-margin">
          <ion-icon name="alert"></ion-icon> Please enter a prayer title.
        </p>
      </ion-text>
    </ion-row>

    <!--Display date.-->
    <ion-item id="date" lines="none">
      <ion-text id="dateText" class="bold" color="light">{{thisDate}}</ion-text>
    </ion-item>

    <!--Prayer Body-->
    <ion-item id="textarea" lines="none" color="">
      <ion-textarea rows="10" id="body" formControlName="body" placeholder="Your Prayer" spellcheck="true"
        autocapitalize=sentences>
      </ion-textarea>
    </ion-item>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-text color="danger" *ngIf="addRequestForm.controls.body.hasError('required') && showErrors">
        <p class="ion-no-margin">
          <ion-icon name="alert"></ion-icon> Please enter a prayer body.
        </p>
      </ion-text>
    </ion-row>

    <!--Prayer Tag-->
    <ion-item id="prayertags" lines="none">
      <ion-label class="bold">Tags:</ion-label>
      <ion-select formControlName="tags" placeholder="Select Tags" [(ngModel)]="tags" multiple="true">
        <ion-select-option *ngFor="let tag of tags" [value]="tag.Id.toString()">{{tag.Name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <!--Prayer Schedule-->
    <ion-item id="prayerschedule" lines="none">
      <ion-label class="bold">Prayer Frequency:</ion-label>
      <ion-input formControlName="frequency" type="number" placeholder="1-7"></ion-input>
    </ion-item>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-text color="danger" *ngIf="addRequestForm.controls.frequency.hasError('required') && showErrors">
        <p class="ion-no-margin">
          <ion-icon name="alert"></ion-icon> Please select a prayer schedule.
        </p>
      </ion-text>
    </ion-row>

    <!--Is Private checkbox-->
    <ion-item id="privatecheckbox" lines="none">
      <ion-label class="bold">Private Request</ion-label>
      <ion-checkbox checked slot="end" formControlName="private"></ion-checkbox>
    </ion-item>

    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-button type="submit" id="saveButton"><b>SAVE</b>
        </ion-button>
      </ion-row>
    </ion-grid>

  </form>

</ion-content>