.error{
    font-size:12px;
    font-weight:normal; //doesnt work
    text-align: center;  //dont work
}

#title {
    --border-color: transparent !important;
    --highlight-height: 0;
    --padding-top:30px; 
    --padding-start: 10%;
    --padding-end: 10%;
    --background: none;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 4px;
    font-size: 20px;
}
#date{
    padding-top:0px;
    padding-bottom: 30px;
    padding-left: 2%;
    padding-right: 2%;
    height: 35px;
    margin:0px;
}
#dateText {
    height: 35px;
    font-size: 15px;
    padding-top:0px;     //padding here is behaving wierdly: explore why and fix it.
    padding-left:10px;
    margin:0px;
    text-justify: right;
}

#textarea {
    --border-color: transparent !important;
    --padding-top:10px; 
    --padding-start: 10%;
    --padding-end: 10%;
    --highlight-height: 0;
    --background: none;
    border-radius: 0px;
    font-size: 18px;
    padding-top: 0px;
    padding-left: 10px;
}

#prayertags{
    font-size: 18px;
    color: #747474;
    --padding-start :15%;
    --padding-end :15%;

}

#prayerschedule{
    font-size: 18px;
    color: #747474;
    --padding-start :15%;
    --padding-end :15%;

}

#privatecheckbox{
    font-size: 18px;
    color: #747474;
    --padding-start :15%;
    --padding-end :15%;
}



#body{
    padding-top:0px;
}

#saveButton{
    width:40%;
}

input::-webkit-input-placeholder {
    color: #000;
}

input::-moz-placeholder {
    color: #000000;
}