@font-face {
  font-family: "Cormorant Upright";
  src: url("/client/src/assets/fonts/CormorantUpright-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Upright";
  src: url("/client/src/assets/fonts/CormorantUpright-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Upright";
  src: url("/client/src/assets/fonts/CormorantUpright-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Upright";
  src: url("/client/src/assets/fonts/CormorantUpright-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant Upright";
  src: url("/client/src/assets/fonts/CormorantUpright-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("/client/src/assets/fonts/PlayfairDisplay-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("/client/src/assets/fonts/PlayfairDisplay-RegularItalic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("/client/src/assets/fonts/PlayfairDisplay-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("/client/src/assets/fonts/PlayfairDisplay-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("/client/src/assets/fonts/PlayfairDisplay-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display";
  src: url("/client/src/assets/fonts/PlayfairDisplay-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
  }

@font-face {
    font-family: "ebrima";
    src: url("/client/src/assets/fonts/ebrima-gras.ttf");
    font-weight: 700;
    font-style: normal;
    font-variant: small-caps;
}

@font-face {
    font-family: "ebrima";
    src: url("/client/src/assets/fonts/ebrima-normal.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "High Tower Text";
    src: url("/client/src/assets/fonts/HTOWERT.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "High Tower Text";
    src: url("/client/src/assets/fonts/HTOWERTI.ttf");
    font-weight: 500;
    font-style: italic;

}
