<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="logo">VitaPrayer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--View Card-->
  <ion-card *ngIf="!editMode">
    <ion-card-header>
      <ion-row justify-content-center align-items-center>
        <ion-col size="10">
          <ion-card-title class="bold title">{{request.Title}}</ion-card-title>
        </ion-col>
        <ion-col size="2">
          <ion-icon color="dark" size="large" name="ios-create" (click)="startEdit()"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-item id="date" lines="none">
        <ion-text id="dateText" class="bold" color="light">{{request.LongFormattedDate}}</ion-text>
      </ion-item>

    </ion-card-header>

    <ion-card-content>

      <ion-item lines="none">
        <ion-text id="body">{{request.Body}}</ion-text>
      </ion-item>
      <ion-item lines="none">
        <div class="prayerstatus">
          <b>Tags: <ion-item *ngFor="let tag of prayerTags;" lines="none">
            {{tag.Tag_Name}}
          </ion-item><br>
          Prayer Frequency:{{request.Frequency}}<br>
          {{request.IsPrivate ? "Private" : "Shared"}}<br>
          {{request.Resolved ? "Resolved" : "Ongoing"}}<br></b>
        </div>
      </ion-item>
    </ion-card-content>

  </ion-card>

   <!--Edit Card-->
  <ion-card *ngIf="editMode">
    <form [formGroup]="editRequestForm" (ngSubmit)="save()">

      <!--Prayer Title-->
      <ion-item class="title" lines="none">
        <ion-input type="text" color="dark" placeholder="Prayer Request Title" formControlName="title"
          autocapitalize=words>
        </ion-input>
      </ion-item>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-text color="danger" *ngIf="editRequestForm.controls.title.hasError('required') && showErrors">
          <p class="ion-no-margin">
            <ion-icon name="alert"></ion-icon> Please enter a prayer title.
          </p>
        </ion-text>
      </ion-row>

      <!--Display date.-->
      <ion-item id="date" lines="none">
        <ion-text id="dateText" color="light">{{request.LongFormattedDate}}</ion-text>
      </ion-item>

      <!--Prayer Body-->
      <ion-item id="textarea" lines="none" color="">
        <ion-textarea rows="10" id="body" formControlName="body" placeholder="Your Prayer" spellcheck="true"
          autocapitalize=sentences>
        </ion-textarea>
      </ion-item>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-text color="danger" *ngIf="editRequestForm.controls.body.hasError('required') && showErrors">
          <p class="ion-no-margin">
            <ion-icon name="alert"></ion-icon> Please enter a prayer body.
          </p>
        </ion-text>
      </ion-row>

      <!--Prayer Tag-->
      <ion-item class =" bold tagformatting" lines="none">
        <ion-label>Tags:</ion-label>
        <ion-select formControlName="tags" placeholder="Select Tags" [(ngModel)]="tags" multiple="true" [value]="tagIds">
          <ion-select-option *ngFor="let tag of tags" [value]="tag.Id.toString()">{{tag.Name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <!--Prayer Schedule-->
      <ion-item class =" bold tagformatting"lines="none">
        <ion-label>Prayer Schedule:</ion-label>
        <ion-input formControlName="frequency" type="number"></ion-input>
      </ion-item>
      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-text color="danger" *ngIf="editRequestForm.controls.frequency.hasError('required') && showErrors">
          <p class="ion-no-margin">
            <ion-icon name="alert"></ion-icon> Please select a prayer schedule.
          </p>
        </ion-text>
      </ion-row>

      <!--Is Private checkbox-->
      <ion-item class ="bold tagformatting" lines="none">
        <ion-label>Private Request</ion-label>
        <ion-checkbox slot="end" formControlName="private"></ion-checkbox>
      </ion-item>

      <ion-grid>
        <ion-row class="ion-justify-content-center ion-align-items-center">
          <ion-button  class="bold endbutton cancel" color="danger" (click)="cancel()">Cancel</ion-button>
          <ion-button class="bold endbutton submit" type="submit">Save</ion-button>
        </ion-row>
      </ion-grid>

    </form>
  </ion-card>

</ion-content>