<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content>

  <!--View Card-->
  <ion-card>
    <ion-card-header>
      <ion-row justify-content-center align-items-center>
        <ion-col size="10">
          <ion-card-title class="bold title">{{request.Title}}</ion-card-title>
        </ion-col>
        <ion-col size="2">
          <ion-icon color="dark" size="large" name="ios-create" (click)="startEdit($event)"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-item id="date" lines="none">
        <ion-text id="dateText" class="bold" color="light">{{request.LongFormattedDate}}</ion-text>
      </ion-item>

    </ion-card-header>

    <ion-card-content>

      <ion-item lines="none">
        <ion-text id="body">{{request.Body}}</ion-text>
      </ion-item>
      <ion-item lines="none">
        <div class="prayerstatus">
          <b>Tags: <ion-item *ngFor="let tag of prayerTags;" lines="none">
            {{tag.Tag_Name}}
          </ion-item><br>
          Reminder Date: {{notifDate}}<br>
          Reminder Time: {{notifTime}}<br>
          {{request.IsPrivate ? "Private" : "Shared"}}<br>
          {{request.Resolved ? "Resolved" : "Ongoing"}}<br></b>
        </div>
      </ion-item>
    </ion-card-content>

  </ion-card>

</ion-content>